/* Navigation */

nav {
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    inset: 0;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 12px;
    background-color: rgb(var(--background), 0.2);
    backdrop-filter: blur(10px);
    gap: 24px;
	z-index: 10;
}

nav a {
    text-decoration: none;
    font-family: "Poppins";
    color: black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	display: flex;
	position: relative;
	gap: 8px;
	cursor: pointer;
}

nav a:not(.HomeRedirect)::after {
    content: '';
    display: block;
	position: absolute;
	bottom: -4px;
    height: 2px;
    background-color: black;
    min-width: fit-content;
    margin-inline: auto;
    transition: .25s ease-in-out;
    width: 0%;
    opacity: 0;
}

nav > div {
	margin-left: auto;
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	gap: 24px;
}

nav a:not(.HomeRedirect):hover::after {
    width: 100%;
    opacity: 1;
}

.HomeRedirect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	gap: 0;
}

.HomeRedirect > span {
	font-weight: bold;
	font-size: 24px;
}

.HomeRedirect:hover > img {
	scale: 1.15;
}

.newTag {
	color: white;
	background-color: rgb(var(--primary));
	border-radius: 16px;
	width: max-content;
	text-align: center;
	padding: 0px 8px;
}

img.webLogoImg {
    height: 64px;
    aspect-ratio: 1 / 1;
	transition: .25s ease-in-out;
}

nav a:has(.bagCount) {
	background: rgb(var(--primary),0.2);
	padding: 4px 12px;
	border-radius: 24px;
}

/* Home Page Content */

main {
	flex-direction: column;
	display: flex;
	align-items: center;
	margin-top: 80px;
	margin-bottom: 100px;
	gap: 16px;
}

#sustainableAwareness {
	width: 100%;
	background: rgb(var(--secondary), 0.04);
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#sustainableAwareness > a {
	text-decoration: none;
	background: rgba(var(--accent),.8);
	padding: 6px 12px;
	border-radius: 20px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Poppins";
	margin-left: 8px;
}

#sustainableAwareness > a * {
	color: black;
}

#sustainableAwareness > a:hover {
	filter: brightness(.95);
}

#productShowcaseHolder {
	position: relative;
	height: 500px;
}

.productHolder {
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	height: 100%;
	width: 100%;
	gap: 16px;
	padding: 16px;
	position: absolute;
	inset: 0;
	transform: translateX(-100%);
}

.productHolder.active {
	transform: translateX(0);
}

.productHolder.activeFromBefore  {
	transform: translateX(-100%);
	transition: none;
}

.productHolder.activeFromAfter {
	transform: translateX(100%);
	transition: none;
}

.productInfoHolder {
	background: rgb(var(--background));
	padding: 16px;
	position: absolute;
	left: 32px;
	top: 32px;
	width: 40%;
}

#smartGlassesProduct {
	background: rgb(208,255,102);
	background: radial-gradient(circle at bottom right,rgb(var(--primary),0.2) 0%, rgb(var(--primary),0.6) 100%);
}

.galleryDisplay {
	width: calc(100% - 32px);
	height: max-content;
	position: relative;
	overflow: hidden;
	background: var(--background);
}

.productInfoHolder > div:has(button) {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 10px; 
}

.productInfoHolder > span {
	position: relative;
	bottom: 20px;
	font-size: 25px;
}

.productInfoHolder > span > b {
	border-bottom: 2px dotted black;
	font-weight: 500;
}

.productInfoHolder h2 {
	margin: 0 0 16px 0;
}

button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	padding: 4px 12px;
	border: 1.5px solid rgb(var(--primary));
	background: none;
	font-family: "Poppins";
	font-size: 20px;
	cursor: pointer;
	color: rgb(var(--primary));
}
button.actionButton:hover {
	filter: brightness(1.1);
}

button.actionButton {
	background: rgb(var(--primary));
	border: rgb(var(--primary));
	color: white;
}

a.learnMoreSG {
	text-decoration: none;
}

button.standardButton {
	filter: brightness(0.6);
}

button.standardButton:hover {
	filter: brightness(0.8);
}

.smartGlassesImg {
	height: 250px;
	transform: scaleX(-1);
	z-index: -1;
}

#splitCompany {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 16px;
	height: 700px;
	width: calc(100% - 32px);
}

#splitCompany > div {
	height: 100%;
}

#about {
	background: rgb(var(--secondary), 0.3);
	width: 27.5%;
}

#newsArticles {
	width: 72.5%;
	background: rgb(var(--text),0.04);
	padding: 16px;
}

#newsArticles > h2 {
	margin: 0 0 12px 0;
}

.newsHolder {
	background: rgb(var(--background),0.2);
	width: 100%;
	height: max-content;
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

#newsArticles > button {
	position: absolute;
	bottom: 16px;
	right: 16px;
	color: rgb(var(--text));
	padding: 4px 24px;
	border-color: rgb(var(--text));
}

.article {
	background: rgb(var(--background));
	height: 200px;
	position: relative;
	overflow: hidden;
}

.article > img {
	width: 100%;
	height: 128px;
	margin: 0;
}

.article > div {
	position: absolute;
	background: linear-gradient(180deg, transparent, rgb(var(--background)) 30%, rgb(var(--background)) 100%);
	top: 36px;
	padding: 32px 16px;
	width: 100%;
}

.article > div > h4 {
	margin: 0;
}

.article > div a {
	color: rgb(var(--text));
}

#reviews {
	background: rgb(var(--text),0.1);
	display: grid;
	grid-template-areas: "title title" "left right";
	grid-template-columns: 50% 50%;
	grid-template-rows: 80px 1fr;
	justify-content: center;
	align-items: start;
	height: 470px;
}

#about > h2,#reviews > h2 {
	text-align: center;
	margin-bottom: 0;
}

#reviews > h2 {
	grid-area: title;
}

.reviewOverall {
	grid-area: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgb(var(--background));
	height: 350px;
	padding: 32px;
	margin: 16px 0px 0px 16px;
}

.reviewOverall > .starList {
	scale: 2.5;
}

.reviewOverall > h2 {
	margin: 16px 16px 0 16px;
	font-size: 64px;
}

.reviewOverall > span {
	font-size: 24px;
}

.reviewList {
	grid-area: right;
	height: 350px;
	overflow: auto;
	margin: 0 16px 0;
}

#about > blockquote {
	display: block;
	text-align: center;
	background: rgb(var(--secondary),0.1);
	padding: 8px;
	color: rgb(var(--text));
	font-family: "Poppins";
	font-size: 20px;
}

#about > p {
	font-size: 22px;
	line-height: 36px;
	margin: 32px;
}

.productInfoHolder > div:has(.priceTag) {
  margin: -6px 0 0 0;
  flex-direction: column;
  gap: 0;
}

.productInfoHolder > div:has(.priceTag) > span:not(.priceTag) {
  font-size: 22px;
}

.priceTag {
  font-size: 40px;
  font-family: "Poppins";
}

.priceTag > .dollar {
  font-size: 30px;
  position: relative;
  bottom: 8px;
}

.review {
	background: rgb(var(--background));
	padding: 16px;
	margin: 16px 16px 0px 16px;
}

.star {
	color: rgb(222 163 46);
}

.star.dark {
	color: rgb(0 0 0);
}

.contentInfo {
	display: flex;
	flex-direction: column;
	margin-top: -4px;
}

.contactName {
	font-weight: bold;
	font-family: Poppins;
}

.invisible {
	opacity: 0;
	transform: translateY(100px);
}

.visible {
	animation: makeVisible .5s ease-in-out forwards;
}

@keyframes makeVisible {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

#environmental {
	background: rgb(7,77,157);
	background: -moz-linear-gradient(180deg, rgba(7,77,157,1) 0%, rgba(22,41,0,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(7,77,157,1) 0%, rgba(22,41,0,1) 100%);
	background: linear-gradient(180deg, rgba(7,77,157,1) 0%, rgba(22,41,0,1) 100%);
	height: 375px;
	padding: 16px;
}

#environmental > h2 {
	margin: 0;
}

#environmental > h2:nth-of-type(2) {
	margin-top: -12px;
}

#environmental p {
	line-height: 32px;
	font-size: 22px;
	margin-top: 6px;
}

#environmental a {
	text-decoration: none;
	position: absolute !important;
	left: 50%;
	transform: translateX(-50%);
	width: max-content;
}

#environmental a button {
	font-size: 24px;
}

#environmental a * {
	color: white;
}

#environmental > *:not(.custom-shape-divider-bottom-1716851857) {
	color: white;
	z-index: 2;
	position: relative;
}

footer {
	background-color: rgb(var(--text),0.05);
	width: 100%;
	height: 75px;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	gap: 12px;
	padding: 0px 12px;
}

footer > div {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	gap: 24px;
	margin-left: auto;
}

footer > div * {
	color: rgb(var(--text),0.7);
}


.asianSunImg {
	position: absolute !important;
	right: 6px;
	top: 6px;
	height: 130px;
	animation: hueRotate 5s linear infinite;
}

.smallACIcon {
	height: 50px;
}

.asianCorpTitle {
	font-weight: bold;
	font-family: "Poppins";
	margin-left: -12px;
	font-size: 24px;
}

@keyframes hueRotate {
	from {
		filter: hue-rotate(0deg);
	}
	
	to {
		filter: hue-rotate(360deg);
	}
}

/* Cool Waves Thingy */
.custom-shape-divider-bottom-1716851857 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1716851857 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 254px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1716851857 .shape-fill {
    fill: #00A71180;
	animation: hueRotate 10s linear infinite;
}

#ThemeChanger {
	text-decoration: underline;
	cursor: pointer;
}

#productArrowSelector {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 16px;
	gap: 16px;
	background: rgb(var(--background),0.3);
	padding: 8px 16px;
	border-radius: 50px;
}

#productArrowSelector > * {
	color: rgb(var(--text));
	border-color: rgb(var(--text));
}

#productArrowSelector > button:hover {
	background: rgb(var(--text),0.2);
}

.pageCircle {
	height: 8px;
	width: 8px;
	aspect-ratio: 1/1;
	background: black;
	border-radius: 5px;
	transition: .15s ease-in-out;
}

.pageCircle.selected {
	background: white;
}